body {
  background: linear-gradient(180deg, #1f3756, #141539);
  height: 96vh;
}

.container {
  width: 85%;
  max-width: 900px;
  margin: 0 auto;
}

.cabecalho {
  border: 3px solid #606e85;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  padding: 16px;
  margin-top: 24px;
}

.cabecalho__logo {
  width: 120px;
}

.cabecalho__score {
  background-color: #fff;
  width: 72px;
  padding: 4px;
  border-radius: 8px;
  text-align: center;
}
.score__text {
  color: #2a46c0;
  font-size: 16px;
}
.score__number {
  color: #606e85;
  font-size: 36px;
  font-weight: 700;
}

.box__option {
  position: relative;
  margin-top: 32px;
  grid-template-columns: 1fr 1fr;
  display: grid;
  justify-items: center;
}

.option__paper {
  position: relative;
  top: 0;
  left: -24px;
  background: url(../assets/img/icon-paper.svg);
  background-repeat: no-repeat;
  width: 120px;
  height: 120px;
  background-color: #fff;
  background-position: center;
  border-radius: 50%;
  border: 10px solid #4865f4;
}
.option__scissor {
  position: relative;
  top: 0;
  right: -24px;
  background: url(../assets/img/icon-scissors.svg);
  background-repeat: no-repeat;
  width: 120px;
  height: 120px;
  background-color: #fff;
  background-position: center;
  border-radius: 50%;
  border: 10px solid #ec9e0e;
}
.option__rock {
  background: url(../assets/img/icon-rock.svg);
  background-repeat: no-repeat;
  width: 120px;
  height: 120px;
  background-color: #fff;
  background-position: center;
  border-radius: 50%;
  border: 10px solid #dc2e4e;
  grid-column: 1 / span 3;
  margin-top: 48px;
}

.option__triangle {
  width: 90%;
  position: relative;
  transform: rotate(180deg);
  z-index: -1;
  grid-column-start: 1;
  grid-column-end: 3;
}

.triangle__one {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 90%;
  height: 264px;
  background-color: #3b4363;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
.triangle__twoo {
  position: absolute;
  top: 32px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 80%;
  height: 80%;
  background: #1c2f4f;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.btn__rules {
  position: absolute;
  bottom: 32px;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-transform: uppercase;
  width: 102px;
  height: 48px;
  background: none;
  border: 1px solid #fff;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  border-radius: 8px;
  transition: 0.3s;
  cursor: pointer;
}
.btn__rules:hover {
  background-color: #fff;
  color: #141539;
}

.option__paper--action {
  position: relative;
  top: 0;
  left: -24px;
  background: url(../assets/img/icon-paper.svg);
  background-repeat: no-repeat;
  width: 120px;
  height: 120px;
  background-color: #fff;
  background-position: center;
  border-radius: 50%;
  border: 10px solid #4865f4;
}
.option__rock--action {
  position: relative;
  top: 0;
  left: -24px;
  background: url(../assets/img/icon-rock.svg);
  background-repeat: no-repeat;
  width: 120px;
  height: 120px;
  background-color: #fff;
  background-position: center;
  border-radius: 50%;
  border: 10px solid #dc2e4e;
}
.option__scissor--action {
  position: relative;
  top: 0;
  left: -24px;
  background: url(../assets/img/icon-scissors.svg);
  background-repeat: no-repeat;
  width: 120px;
  height: 120px;
  background-color: #fff;
  background-position: center;
  border-radius: 50%;
  border: 10px solid #ec9e0e;
}

.option__paper--actionCpu {
  position: relative;
  top: 0;
  right: -24px;
  background: url(../assets/img/icon-paper.svg);
  background-repeat: no-repeat;
  width: 120px;
  height: 120px;
  background-color: #fff;
  background-position: center;
  border-radius: 50%;
  border: 10px solid #4865f4;
}

.option__scissor--actionCpu {
  position: relative;
  top: 0;
  right: -24px;
  background: url(../assets/img/icon-scissors.svg);
  background-repeat: no-repeat;
  width: 120px;
  height: 120px;
  background-color: #fff;
  background-position: center;
  border-radius: 50%;
  border: 10px solid #ec9e0e;
}

.option__rock--actionCpu {
  position: relative;
  top: 0;
  right: -24px;
  background: url(../assets/img/icon-rock.svg);
  background-repeat: no-repeat;
  width: 120px;
  height: 120px;
  background-color: #fff;
  background-position: center;
  border-radius: 50%;
  border: 10px solid #dc2e4e;
}

.result__game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  grid-column-start: 1;
  grid-column-end: 3;
  margin-top: 32px;
}

.result__game > h1 {
  width: 174px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.result__game > button {
  text-transform: uppercase;
  width: 164px;
  height: 48px;
  background: none;
  border: 1px solid #fff;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  border-radius: 8px;
  transition: 0.3s;
  cursor: pointer;
}

.result__game > button:hover {
  background-color: #fff;
  color: #141539;
}

@media (min-width: 540px) {
  .option__paper {
    width: 150px;
    height: 150px;
    cursor: pointer;
  }
  .option__scissor {
    width: 150px;
    height: 150px;
    cursor: pointer;
  }
  .option__rock {
    width: 150px;
    height: 150px;
    cursor: pointer;
  }
  .option__triangle {
    width: 70%;
  }
  .triangle__one {
    top: 24px;
  }
  .btn__rules {
    left: unset;
    right: 10%;
  }
}
